{% extends 'layouts/base.html' %}

{% block content %}

    <div class="post">
        <h1>{{ post.title }}</h1>
        <img src="{{ MEDIA_URL }}{{ post.thumbnail_url }}">
        <p>{{ post.orderd_page_url }}</p>
        <p>{{ post.book_url }}</p>
        <p>{{ post.type }}</p>
        {% for category in categories %}
            <p>{{ category }}</p>
        {% endfor %}
    </div>

    <a href="{% url 'books:buy' pk=post.pk%}">Buy More</a>
    {% if my_review is None %}
        <a href="{% url 'reviews:new' book_pk=post.pk %}">Post Review</a>
    {% endif %}

    {% if my_review %}
        <div>
            <span>username: {{ my_review.user.username }}</span>
            <div>{{ my_review.text }}</div>
            <div>{{ my_review.created_at }}</div>
            <br>
        </div>
    {% endif %}

    {% for review in reviews %}
        <div>
            <span>username: {{ review.user.username }}</span>
            <div>{{ review.text }}</div>
            <div>{{ review.created_at }}</div>
            <br>
        </div>
    {% endfor %}

{% endblock %}